body {
    
    font-family: monospace;
    font-size: large;   
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: em;
    background-color: #eee;
    display: center; 
}

h2 {
    margin-top: 0.5em;

}

li {
    margin-top: 0.5em;
    list-style-type: none;
    font-size: large;   
}

label, input {
    margin-top: 10px;
    margin-bottom: 20px;
}


.css-button-rounded {
    background: #ffffff;
    color: rgb(63, 61, 61);
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    width: 20px;
    border-radius: 50px;  /* he rounded corners are here */
}

.css-button-rounded-new {
    background-color: #DAA520;
    color:  rgb(63, 61, 61);
    display: inline-block;
    padding: 15px 15px;
    text-align: right;
    text-decoration: none;
    width: -moz-max-content;    /* Firefox/Gecko */
    width: webkit-max-content;
    border-radius: 25px; 
}

.menu {
    background-color: rgb(63, 61, 61);
    color:  #DAA520;
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    width: -moz-max-content;    /* Firefox/Gecko */
    width: webkit-max-content; /* Chrome */
    border-radius: 10px; 
}

