<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>To do lists</title>
</head>
<body>
<div style="margin: auto; width: 50%;">
<a class="menu" href="/">Home</a>
{% if session['username'] %}
<span class="menu">{{ session['username'] }}</span> <a class="menu" href="/logout">Logout</a>
{% else %}
<a class="menu" href="/login">Login</a>
<a class="menu" href="/register">Register</a>
{% endif %}
</div>
{% block content %}{% endblock %}
</body>
</html>