<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<a href="/">Home</a>
{% if session['username'] %}
{{ session['username'] }} <a href="/logout">Logout</a>
{% else %}
<a href="/login">Login</a>
<a href="/register">Register</a>
{% endif %}
<h2>Login</h2>
<form action="/login" method="POST">
    <label for="username"><b>Username</b></label><br>
    <input type="text" placeholder="Enter Username" id="username" name="username" required><br>

    <label for="password"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" id="password" name="password" required><br>

    <button type="submit">Login</button>
</form>
</body>
</html>
