{% extends "base.html"%}

{% block content %}
<div style="margin: auto; width: 50%;">
<h2>Login</h2>
<form action="/login" method="POST">
    <label for="username"><b>Username</b></label><br>
    <input type="text" placeholder="Enter Username" id="username" name="username" required><br>

    <label for="password"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" id="password" name="password" required><br>

    <button type="submit">Login</button>
</form>
</div>
{% endblock %}
