<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>To-Do List</title>
</head>
<body>
<a href="/">Home</a>
<a href="/login">Login</a>
<h1>To-do lists</h1>
<ul>
{% for todolist in todolists -%}
<li><a class="css-button-rounded" href="/todolist/{{ todolist['id'] }}">{{ todolist['id'] }}</a> {{ todolist['title'] }}</li>
{% endfor -%}
</ul>
<a class="css-button-rounded-new" href="/new">New todolist</a>

</body>
</html>
